.homePage {
    margin: 2rem auto;
    width: fit-content;
    padding: 1rem;
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border: solid 1px #ffffff17;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 20rem);
}

.homePage button {
    width: 8rem;
    height: 4rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    margin: 1rem 0;
    font-size: 1.5rem;
    background-color: #0084ff;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.homePage button:hover {
    background-color: #0084ff2a;
}

.homePage button:disabled {
    background-color: #1f1f1f;
    cursor: not-allowed;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}