[data-theme="dark"]{
    --background-color: #000000cc;
    --Toggle-bgcolor: #fff;
}

[data-theme="light"]{
    --background-color: #000000cc;
    --Toggle-bgcolor: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: calc(60% + 0.8vmin);
    overflow-x: hidden;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-image: url("./assets/Images/fahrul-razi-BR6lrzCPYPk-unsplash.jpg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--background-color);
}
